<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>Esta es la lista de carros</h3>
  <ul>
    {% for car in car_list %}
    <li>{{car.title}}</li>
    {% endfor %}
  </ul>
</body>

</html>